
.same-size-image {
  width: 100%;
  height: 200px; /* Atur ketinggian gambar sesuai kebutuhan */
  object-fit: cover; /* Mengatur gambar untuk mengisi kontainer tanpa distorsi */
}

.custom-slide-img {
    width: 800px; /* Atur lebar gambar sesuai keinginan */
    height: 400px; /* Atur tinggi gambar sesuai keinginan */
    object-fit: cover; /* Mengatur gambar untuk menutupi area yang tersedia */
  }
  